# Terraform files
.terraform/
.terraform.lock.hcl

# Local environment files
*.tfstate
*.tfstate.*
crash.log
*.tfvars
secrets.tfvars

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

#keys
*.pem